{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/js/animated_border_menus/css/icons.css"/>
    <link rel="stylesheet" type="text/css" href="../static/js/animated_border_menus/css/style2.css"/>
    <link rel="stylesheet" type="text/css" href="../static/js/animated_border_menus/css/normalize.css"/>
    <link rel="stylesheet" href="../static/js/animated_border_menus/css/normalize.css">
    <link rel="stylesheet" href="../static/js/CSS3-3D-buttons-master/css/main.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="../static/js/animated_border_menus/js/modernizr.custom.js"></script>

    {% block js %}
    {% endblock %}

    {% block css %}
    {% endblock %}

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

{% block name %}
{% endblock %}

{% block content %}
{% endblock %}

</body>

</html>