{% extends "base.html" %}
{% load static %}


{% block js %}
    <script src="{% static 'js/pages/detail_page.js' %}"></script>
{% endblock %}

{% block title %} Book {% endblock %}


{% block name %}
    <div>
        <h2>
            <center> Detail page</center>
        </h2>
        <hr>
    </div>
{% endblock %}

{% block content %}
    <style>
        body {
            background: rgb(255, 255, 255);
        }

        h2 {
            color: #0ac4a0;
        }

        th {
            background-color: #0F443E;
        }

        tr {
            color: #0ac4a0;
        }

        .btn-default {
            color: #0ac4a0;
        }

        .button-cls {
            position: fixed; /* Фиксированное положение */
            left: 590px;
            bottom: 0; /* Левый нижний угол */
            padding: 10px; /* Поля вокруг текста */
            background: #0F443E; /* Цвет фона */
            color: #fff; /* Цвет текста */
            width: 10%; /* Ширина слоя */
        }
        a {
            color: rgb(232, 109, 38);
        }

    </style>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                <center><font color="#FF7729">Property</font></center>
            </th>
            <th>
                <center><font color="#FF7729">Descriptions</font></center>
            </th>
            <th>
                <center><font color="#FF7729">Details</font></center>
            </th>
        </tr>
        </thead>
        <tbody id="table-body">
{#        <tr>#}
{#            <td>John</td>#}
{#            <td>Doe</td>#}
{#            <td>#}
{#                <center>#}
{#                    <button type="button" class="C btn-default" data-toggle="modal" data-target="#myModal">Show</button>#}
{#                </center>#}
{#            </td>#}
{#        </tr>#}
        </tbody>
    </table>


            {#Modal#}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>Несколько месяцев назад скачал от нечего делать с торрентов архив прессы. Распаковал его и ткнул в произвольную статью. Этой статьей оказалась заметка от середины июля 2004 о пропаже питерского журналиста Максима Максимова. И что-то у меня в памяти вспыхнуло от сочетания этого имени и фамилии, набрал запрос в яндексе и по фотке сразу же узнал его.

Десять лет назад я на протяжении пары недель посещал по некоторым делам агентство журналистских расследований, где пересекался, в частности, с Максимом Леонидовичем. Очень мне он показался приятным и интеллигентным человеком.

В общем, как оказалось, убили бедолагу за его расследования. Дело не раскрыли. Все что было найдено – результат работы людей из ажура, которым следователи, ведущие дело, не сумели или не захотели воспользоваться. Судя по всему журналиста убили высокопоставленные менты, о коррупции которых Максимов собирался писать. Убили в центре города, заманив в ловушку. Труп вывезли куда-то, тела до сих пор не нашли. Часть этих ментов до сих пор продолжает трудиться на своих рабочих местах.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <button class="button-cls"> <a href="{% url 'dashboard' %}"> Home </a> </button>

{#    <iframe src="https://trinket.io/embed/python3/055c60f8a0?start=result" width="100%" height="356" frameborder="0"#}
{#            marginwidth="0" marginheight="0" allowfullscreen>#}


{% endblock %}