        h2 {
            color: #f5fff8;
        }
        h6 {
            color: #0affda;
        }

        hr{
            height: 2px;
        }

        .col-md-4 {
            border: 10px solid #0ac4a0;
            padding: 10px;
            width: 400px;
            height: 130px;
            margin: 15px;
            left: 150px;
            color: rgba(245, 255, 248, 0.99);
        }
    .col-md-4:hover {
  background: rgb(232, 109, 38);
        }